.signup {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: clamp(300px, 30%, 400px);
  height: clamp(400px, 50vh, 600px);
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 15px 0;
  font-size: 2em;
  color: #606060;
  border-bottom: 2px solid #60606060;
}
.formItem {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  color: #11b6bd;
}
.input {
  padding: 3px 15px;
  font-size: 1.3em;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #11b6bd;
  color: #606060;
  background-color: #fff;
  outline: none;
}

.input:focus {
  background-color: #11b6bd;
  color: #606060;
}

.button {
  width: 50%;
  margin: 0 auto;
  background-color: #11b6bd;
  color: #606060;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s ease;
}

.button:hover {
  background-color: #606060;
  color: #11b6bd;
  letter-spacing: 3px;
  width: 100%;
}
